:host {
  padding: 1em;

  > ul > li {
    padding: .25em;

    > a {
      text-decoration: none;
      width: 200px;
      display: inline-block;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
