:host {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em 2em;
  place-content: start;
  padding: 1em;

  > h4 {
    grid-column: 1/-1;
    margin-top: 1em;
    margin-bottom: 0;
  }

  > ul > li {
    padding: .25em;

    > a {
      text-decoration: none;
      width: 200px;
      display: inline-block;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
